.row {
    margin-left: 20px;
    color: white;
}

.row_posters {
    display: flex;
    /* apply overflow to flex container */
    overflow-y: hidden;
    overflow-x: scroll; 
    /* Gives space within the container for transform */
    padding: 20px
}

/* This tells all the browsers to keep scrollbar, but keep it hidden */
.row_posters::-webkit-scrollbar {
    display: none;
}

/* object-fit contain will keep the aspect ratio, and allow for max-height to be established */
.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    /* transition in the base css for the element, and apply the transform in hover */
    transition: transform 450ms;
}

/* hover.  */
.row_poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.row_posterLarge {
    max-height: 250px;
}

.row_posterLarge:hover {
    transform: scale(1.09);
}

